// -- СМАРТФОН (< 768px) --//
@media (max-width: $md3+px) {
    .callback {
        display: none;
    }
}

// -- ПЛАНШЕТ (>= 768px) --//
@media (min-width: $md3+px) and (max-width: $md1+px) {
    .callback {
        display: none;
    }
}

// -- ДЕСКТОП (>= 1360px) --//
@media (min-width: $md1+px) {
    .callback {
        // display: none;
        position: fixed;
        right: -100%;
        top: 0;
        bottom: 0;

        width: 520px;

        background-color: white;
        color: #232528;

        z-index: 55;

        transition: $menu-time ease-in;
    }

    .callback__close {
        position: absolute;
        right: 60px;
        top: 40px;

        display: block;

        width: 50px;
        height: 50px;

        opacity: 0.4;
        background-color: #232528;

        border-radius: 50%;

        z-index: 55;

        transition-duration: $item-transition-hover;

        &::before {
            position: absolute;
            content: '';

            top: 24px;
            left: 15px;

            width: 20px;
            height: 2px;
            background-color: white;
            transform: rotate(45deg);
        }

        &::after {
            position: absolute;
            content: '';

            top: 24px;
            left: 15px;

            width: 20px;
            height: 2px;
            background-color: white;
            transform: rotate(-45deg);
        }

        transform: translate(-50%, -50%);

        &:hover {
            opacity: 0.8;
        background-color: #61c0c8;
        transition-duration: $item-transition-hover;
        }
    }

    .callback__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;
        ;

        height: 100%;
        width: 100%;
    }

    .callback__title {
        margin-bottom: 50px;

        font-size: 32px;
        line-height: 1.2;
        color: #232528;

        text-align: center;
    }

    .callback__close {}

    .callback__form {}

    .callback__form-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 280px;

        font-size: 14px;
    }

    .callback__form-name {
        padding: 0 15px;
        margin-bottom: 20px;

        box-shadow: 0px 5px 20px 0px rgba(35, 37, 39, 0.1);
        width: 280px;
        height: 50px;
        background-color: #ffffff;
        border: 1.0px solid #61c0c8;
        border-radius: 3.0px;
    }

    .callback__form-phone {
        padding: 0 15px;
        margin-bottom: 20px;

        width: 280px;
        height: 50px;
        background-color: #f0f0f0;
        border-radius: 3.0px;
    }

    .callback__form-time {
        padding: 0 15px;
        margin-bottom: 20px;

        height: 50px;
        width: 110px;

        color: #232528;

        border-radius: 3.0px;
        background-color: #f0f0f0;
    }

    .callback__form-date {
        padding: 0 15px;
        margin-bottom: 20px;
        width: 160px;

        color: #232528;

        height: 50px;
        border-radius: 3.0px;
        background-color: #f0f0f0;
    }

    .callback__button {
        width: 280px;
        height: 40px;
        background-color: #61c0c8;
        border-radius: 20.0px;

        color: white;
        text-transform: uppercase;
        font-size: 12px;
    }


    .modal-overlay {
        display: none;

        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;
        opacity: 0.8;
        background-color: #232528;

        z-index: 50;
    }

     

    .callback--active {
        display: block;
        right: 0;
        transition-duration: $item-transition-hover*5 ease-in;
    }
}