// ==== <ОБОЛОЧКА> ======//
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;

    &.loaded {}
}

//===== ПЕРЕМЕННЫЕ СЕТКА ======//
$mw: 1200;
$md1: $mw+12; //добавляем шиирну скроллбара
$md2: 991.98;
$md3: 799.98;
$md4: 575.98;
$minwidth: 320px;

//===== <ОСНОВНАЯ СЕТКА> ======//
.container {

    // -- СМАРТФОН (< 576px) --//
    @media (max-width: $md4+px) {
        width: 100%;
        padding: 0 10px;
        margin: 0 auto;
    }

    // -- ПЛАНШЕТ, ДЕСКТОП (>= 800px) --//
    @media (min-width: $md3+px) {
        // padding: 0 10px;
        margin: 0 auto;
        width: 100%;
        max-width: $mw + px;
    }

}

//===== <ОСНОВНАЯ СЕТКА заготока> ======//

// -- СМАРТФОН (< 800px) --//
@media (max-width: $md3+px) {}

// -- ПЛАНШЕТ, ДЕСКТОП (>= 800px) --//
@media (min-width: $md3+px) {}

