@import "_variables.scss";

//===== ОСНОВЫНЕ СТИЛИ =====//
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;

    background-color: white;
    color: #263238;

    overflow-x: hidden;
}

a {
    color: #263238;
}

.visually-hidden {
    position: absolute;
    visibility: hidden;
}

.lock {
    overflow: hidden;
}
