//<ОСНОВНОЙ БЛОК>====================================================================================================

//===== КНОПКИ =====//
.button {
    position: relative;

    display: block;
    width: 100%;
    height: 46px;

    font-size: 17px;
    line-height: 35px;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-align: center;
    
    background-color: #536dfe;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    transition-duration: $item-transition-hover;

    cursor: pointer;

    &:hover {
        background-color: #3957fd;

        transition-duration: $item-transition-hover;
    }

    &:active {
        background-color: #6f85ff;
    }
}