<header class="header header--nojs" id="header">
    <div class="header__wrapper">

        <div class="header__body">

            <div class="header__body-static">
                <a class="header__logo" href="#header">
                    <picture>
                        <source media="(min-width:1150px)" srcset="img/svg/logotype-desktop.svg">
                        <source media="(min-width:768px)" srcset="img/svg/logotype-tablet.svg">
                        <img class="header__logo-image" src="img/svg/logotype-mobile.svg" alt="Cat Energy">
                    </picture>
                </a>
                <nav class="header__menu-static">
                    <ul class="header__list-static">
                        <li class="header__item-static">
                            <a class="header__link-static header__link-static--active" href="#header">Главная</a>
                        </li>
                        <li class="header__item-static">
                            <a class="header__link-static" href="#catalog">Каталог продукции</a>
                        </li>
                        <li class="header__item-static">
                            <a class="header__link-static" href="#form">Подбор программы</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="header__body-fixed">
                <div class="header__body-fixed-wrapper">
                    <a class="header__logo" href="#header">
                        <picture>
                            <source media="(min-width:1150px)" srcset="img/svg/logotype-desktop.svg">
                            <source media="(min-width:768px)" srcset="img/svg/logotype-tablet.svg">
                            <img class="header__logo-image" src="img/svg/logotype-mobile.svg" alt="Cat Energy">
                        </picture>
                    </a>
                    <a class="header__logo-title">
                        <img src="img/svg/logotype-mobile-title.svg" alt="Cat Energy title">
                    </a>
                    <div class="header__burger"><span></span></div>
                    <nav class="header__menu">
                        <ul class="header__list">
                            <li class="header__item">
                                <a class="header__link" href="#header">Главная</a>
                            </li>
                            <li class="header__item header__item--mobile">
                                <a class="header__link" href="#how-it-works">Как это работает</a>
                            </li>
                            <li class="header__item">
                                <a class="header__link" href="#catalog">Каталог продукции</a>
                            </li>
                            <li class="header__item">
                                <a class="header__link" href="#form">Подбор программы</a>
                            </li>
                            <li class="header__item header__item--mobile">
                                <a class="header__link" href="#contacts">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>

        <div class="header__content">
            <div class="header__content-wrapper">
                <h1 class="header__title" data-aos="fade-in" data-aos-duration="2001">Функциональное<br>питание для
                    котов</h1>
                <p class="header__subtitle" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="1000">Занялся
                    собой? Займись котом!</p>
                <div class="header__content-image-wrapper">
                    <picture>
                        <source media="(min-width:1150px)" srcset="img/1/chicken_desktop.webp" type="image/webp">
                        <source media="(min-width:1150px)" srcset="img/1/chicken_desktop.png" type="image/png">
                        <source media="(min-width:768px)" srcset="img/1/chicken_tablet.webp" type="image/webp">
                        <source media="(min-width:768px)" srcset="img/1/chicken_tablet.jpg" type="image/jpg">
                        <source srcset="img/1/chicken_desktop.webp" type="image/webp">
                        <source srcset="img/1/chicken_desktop.png" type="image/png">
                        <img class="header__content-image" src="img/1/chicken_desktop.png" alt="Сat Energy Курица"
                            data-aos="fade-right_my-75" data-aos-duration="2000" data-aos-delay="1500">
                    </picture>
                </div>
                <a class="header__button button" href="#form" data-aos="fade-in" data-aos-duration="1500"
                    data-aos-delay="2000" data-aos-anchor-placement="bottom">Подобрать программу</a>
            </div>
        </div>

        <div class="header__button-down-wrapper" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="2500"
            data-aos-anchor-placement="bottom">
            <a class="header__button-down" href="#programs"></a>
        </div>


    </div>
</header>