<section class="item" style="background-image:url('img/item/item_bg.jpg')">

    <a class="basket-link" title="Basket">
        <svg class="basket-link-img" xmlns="http://www.w3.org/2000/svg" width="21.64" height="26.88"
            viewBox="0 0 21.64 26.88">
            <style type="text/css">
                .basket-link-img {
                    stroke: #ffffff;
                    fill: none;
                    stroke-width: 2;
                }

                .basket-link-img {
                    stroke: #ffffff;
                    fill: none;
                    stroke-width: 1.77;
                }
            </style>
            <path class="basket-link-img" d="M6.64,5.06C6.64,2.75 8.51,0.88 10.82,0.88C13.12,0.88 15,2.75 15,5.06" />
            <path class="basket-link-img" d="M20.59,25.88L1.05,25.88L2.05,5.59L19.59,5.59L20.59,25.88Z" />
        </svg>
        <span class="count">2</span>
    </a>


    <div class="item__content">
        <div class="item__logo">
            <img src="img/item/item_logo.png" alt="Sennheiser" width="138" height="14">
        </div>

        <div class="item__gallery">
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper ">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img class="item__gallery-image" src="img/item/item_1_gallery_1.png" alt="MOMENTUM
                        Wireless Black Model:505795">
                    </div>
                    <div class="swiper-slide">
                        <img class="item__gallery-image" src="img/item/item_1_gallery_2.png" alt="MOMENTUM
                        Wireless Black Model:505795">
                    </div>
                    <div class="swiper-slide">
                        <img class="item__gallery-image" src="img/item/item_1_gallery_3.png" alt="MOMENTUM
                        Wireless Black Model:505795">
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev">
                    <svg class="swiper-button-prev-img" xmlns="http://www.w3.org/2000/svg" width="7" height="10"
                        viewBox="0 0 5.62 8.41">
                        <style type="text/css">
                            .swiper-button-prev-img-svg {
                                stroke: #37474f;
                                fill: none;
                                stroke-width: 2;
                            }
                        </style>
                        <path class="swiper-button-prev-img-svg" d="M0.7,0.7L4.2,4.2L0.7,7.7" />
                    </svg>
                </div>
                <svg class="swiper-swipe-hand" xmlns="http://www.w3.org/2000/svg" width="15" height="16"
                    viewBox="0 0 22 22.11">
                    <style type="text/css">
                        .swiper-swipe-img {
                            stroke: #37474f;
                            fill: none;
                            stroke-width: 2;
                            stroke-linecap: round;
                        }

                        .swiper-swipe-img {
                            stroke: #37474f;
                            fill: none;
                            stroke-width: 2;
                        }
                    </style>
                    <path class="swiper-swipe-img" d="M9,3L9,3C9,1.89 9.89,1 11,1C12.1,1 13,1.89 13,3L13,7" />
                    <path class="swiper-swipe-img"
                        d="M5,9.37L5,9.37C5,8.26 4.1,7.37 3,7.37C1.89,7.37 1,8.26 1,9.37L1,13.37" />
                    <path class="swiper-swipe-img"
                        d="M13,6.99L13,3.99C13,2.89 13.89,1.99 15,1.99C16.1,1.99 17,2.89 17,3.99L17,6.99" />
                    <path class="swiper-swipe-img"
                        d="M1,12.58L1,15.38C1,18.2 4.42,21.11 7.62,21.11L13.84,21C17.79,21 21,17.79 21,13.84L21,6.1C21,5.11 20.31,4.18 19.33,4.02C18.08,3.82 17,4.78 17,5.99L17,7.99" />
                    <path class="swiper-swipe-img"
                        d="M9,6.99L9,2.99C9,1.89 8.1,0.99 7,0.99C5.89,0.99 5,1.89 5,2.99L5,12.17" />
                </svg>
                <div class="swiper-button-next">
                    <svg class="swiper-button-next-img" xmlns="http://www.w3.org/2000/svg" width="7" height="10"
                        viewBox="0 0 5.62 8.41">
                        <style type="text/css">
                            .swiper-button-next-img-svg {
                                stroke: #37474f;
                                fill: none;
                                stroke-width: 2;
                            }
                        </style>
                        <path class="swiper-button-next-img-svg" d="M0.7,0.7L4.2,4.2L0.7,7.7" />
                    </svg>
                </div>

            </div>
        </div>

        <div class="item__info">
            <div class="item__info-top">
                <span class="item__model">Model: 505795</span>
                <a class="item__spec" href="#">
                    <svg class="item__spec-img" xmlns="http://www.w3.org/2000/svg" width="22.93" height="22.93"
                        viewBox="0 0 22.93 22.93">
                        <style type="text/css">
                            .item__spec {
                                stroke: #536dfe;
                                fill: none;
                                stroke-width: 2;
                            }
                        </style>
                        <path class="item__spec"
                            d="M19.46,11.46C19.46,15.88 15.88,19.46 11.46,19.46C7.05,19.46 3.46,15.88 3.46,11.46C3.46,7.05 7.05,3.46 11.46,3.46C15.88,3.46 19.46,7.05 19.46,11.46Z" />
                        <path class="item__spec"
                            d="M14.46,11.46C14.46,13.12 13.12,14.46 11.46,14.46C9.81,14.46 8.46,13.12 8.46,11.46C8.46,9.81 9.81,8.46 11.46,8.46C13.12,8.46 14.46,9.81 14.46,11.46Z" />
                        <path class="item__spec" d="M0.38,16.06L4.07,14.53" />
                        <path class="item__spec" d="M18.86,8.4L22.55,6.87" />
                        <path class="item__spec" d="M6.87,0.38L8.4,4.07" />
                        <path class="item__spec" d="M14.53,18.86L16.06,22.55" />
                        <path class="item__spec" d="M0.38,6.87L4.07,8.4" />
                        <path class="item__spec" d="M18.86,14.53L22.55,16.06" />
                        <path class="item__spec" d="M16.06,0.38L14.53,4.07" />
                        <path class="item__spec" d="M8.4,18.86L6.87,22.55" />
                    </svg>
                    <span class="item__spec-text">Spec</span>
                </a>
            </div>
            <h1 class="item__title">MOMENTUM<sup>®</sup><br>
                <span class="item__title--small">Wireless Black</span>
            </h1>
            <p class="item__subtitle">
                Wireless headphones with integrated microphone
            </p>
            <p class="item__text">
                Peak performance with active noise cancelation. Sennheiser's new MOMENTUM Wireless - Closed circumaural
                headphone featuring <span class="item__text--bluetooth">Bluetooth®</span> wireless technology and
                NoiseGard Hybrid active noise cancelation
            </p>

            <div class="item__rating rating-item">
                <div class="rating-item__stars">
                    <input class="rating-item__star-input" id="item-rating-5" type='radio' name='item-rating' value='5'>
                    <label class="rating-item__star-label" for="item-rating-5"></label>

                    <input class="rating-item__star-input" id="item-rating-4" type='radio' name='item-rating' value='4'
                        checked>
                    <label class="rating-item__star-label" for="item-rating-4"></label>

                    <input class="rating-item__star-input" id="item-rating-3" type='radio' name='item-rating' value='3'>
                    <label class="rating-item__star-label" for="item-rating-3"></label>

                    <input class="rating-item__star-input" id="item-rating-2" type='radio' name='item-rating' value='2'>
                    <label class="rating-item__star-label" for="item-rating-2"></label>

                    <input class="rating-item__star-input" id="item-rating-1" type='radio' name='item-rating' value='1'>
                    <label class="rating-item__star-label" for="item-rating-1"></label>
                </div>
                <div class="rating-item__text">
                    <span class="rating-item__value">4.25</span>
                    <a href="#" class="rating-item__rewiews">(153 reviews)</a>
                </div>
            </div>

            <div class="item__info-middle">
                <div class="item__price">
                    <p class="item__price-number">$499.95</p>
                    <p class="item__price-info">Shipping and taxes extra</p>
                </div>

                <div class="item__colors">
                    <p class="item__colors-text">Choose your colors:</p>
                    <ul class="item__colors-list">
                        <li class="item__colors-item">
                            <a title="Black">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" fill="#3c383a"
                                        d="M12.499939,2.0 C18.29895,2.0 23.0,6.700989 23.0,12.5 C23.0,18.29895 18.29895,23.0 12.499939,23.0 C6.700989,23.0 1.999939,18.29895 1.999939,12.5 C1.999939,6.700989 6.700989,2.0 12.499939,2.0 Z" />
                                </svg>
                            </a>
                        </li>
                        <li class="item__colors-item">
                            <a href="#" title="Grey">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" fill="#e8e6e3"
                                        d="M12.5,2.0 C18.29895,2.0 23.0,6.700989 23.0,12.5 C23.0,18.29895 18.29895,23.0 12.5,23.0 C6.7009277,23.0 1.999939,18.29895 1.999939,12.5 C1.999939,6.700989 6.7009277,2.0 12.5,2.0 Z" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="item__info-bottom">
                <div class="item__quantity">
                    <span class="item__quantity-text">Quantity</span>
                    <div class="item__quantity-list quantity-list">
                        <input class="quantity-list__input" type="number" min="1" max="50"
                            onkeyup="quantityLimit(this);" step="1" value="01">
                        <div class="quantity-list__buttons">
                            <button class="quantity-list__button quantity-list__button--increase"></button>
                            <button
                                class="quantity-list__button quantity-list__button--decrease quantity-list__button--disabled"></button>
                        </div>
                    </div>
                </div>
                <a class="item__add-to-basket button" href="#">Add to Cart</a>
            </div>

        </div>
    </div>

</section>