<section class="section section-1" id="section-1">
    <div class="section__background">
        <picture>
            <source media="(min-width:1360px)" srcset="img/index/section-1-desktop.webp" type="image/webp">
            <source media="(min-width:1360px)" srcset="img/index/section-1-desktop.jpg" type="image/png">
            <source media="(min-width:768px)" srcset="img/index/section-1-tablet.webp" type="image/webp">
            <source media="(min-width:768px)" srcset="img/index/section-1-tablet.jpg" type="image/jpg">
            <source srcset="img/index/section-1-mobile.webp" type="image/webp">
            <source srcset="img/index/section-1-mobile.jpg" type="image/jpg">
            <img class="section__background-image" src="img/index/section-1-mobile.jpg" alt="План территории ЖК Благород">
        </picture>
    </div>
</section>