<section class="form-section" id="form">
    <div class="form-section__wrapper">
        <h2 class="form-section__title title" data-aos="fade-in" data-aos-duration="1000" data-aos-once="true"
            data-aos-anchor-placement="bottom-bottom" data-aos-delay="100">Подбор программы</h2>
        <p class="form-section__description" data-aos="fade-in" data-aos-duration="1000" data-aos-once="true"
            data-aos-anchor-placement="bottom-bottom" data-aos-delay="500">
            Заполните анкету и мы подберем<br>
            программу питания для вашего кота
        </p>

        <form class="form" action="https://echo.htmlacademy.ru" method="GET">

            <div class="form__top-wrapper">

                <fieldset class="form__name" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true"
                    data-aos-delay="700">
                    <div class="form__name-wrapper">
                        <ul class="form__name-list">
                            <li class="form__name-item">
                                <label class="form__name-label" for="name">Имя:*</label>
                                <input class="form__name-input" id="name" type="text" name="name" placeholder="Барсик"
                                    autocomplete="off" required data-rule="text">
                            </li>
                            <li class="form__name-item">
                                <label class="form__name-label" for="weight">Вес&nbsp;(кг):*</label>
                                <input class="form__name-input" id="weight" type="text" name="weight" placeholder="7"
                                    autocomplete="off" required data-rule="number">
                            </li>
                            <li class="form__name-item">
                                <label class="form__name-label" for="age">Возраст&nbsp;(лет):</label>
                                <input class="form__name-input" id="age" type="text" name="name" placeholder="5"
                                    autocomplete="off">
                            </li>
                        </ul>
                    </div>
                </fieldset>

                <fieldset class="form__program" data-aos="fade-left" data-aos-duration="1500" data-aos-once="true"
                    data-aos-delay="700">
                    <ul class="form__program-list">
                        <li class="form__program-item">
                            <input class="form__program-input" id="losing" type="radio" name="program" checked>
                            <label class="form__program-label" for="losing">Похудение</label>
                        </li>
                        <li class="form__program-item">
                            <input class="form__program-input" id="gain" type="radio" name="program">
                            <label class="form__program-label" for="gain">Набор массы</label>
                        </li>
                        <li class="form__program-item">
                            <input class="form__program-input" id="advice" type="radio" name="program">
                            <label class="form__program-label" for="advice">Не знаю (Нужен ваш совет)</label>
                        </li>
                    </ul>
                </fieldset>

            </div>

            <div class="form__subtitle">
                <div class="form__subtitle-wrapper">
                    <p class="subtitle">Контактные данные<br>(владельца кота)</p>
                </div>
            </div>

            <fieldset class="form__contacts">
                <div class="form__contacts-wrapper">
                    <ul class="form__contacts-list">
                        <li class="form__contacts-item" data-aos="fade-right" data-aos-duration="1500"
                            data-aos-once="true" data-aos-delay="700">
                            <label class="form__contacts-label" for="email">E-mail:*</label>
                            <input class="form__contacts-input" type="email" name="email" id="email"
                                placeholder="Ваш Email*" required data-rule="email">
                            <svg class="form__contacts-input--phone" xmlns="http://www.w3.org/2000/svg" width="17"
                                height="13" viewBox="0 0 17 13">
                                <style type="text/css">
                                    .st5 {
                                        fill: #000000;
                                    }
                                </style>
                                <path class="st5"
                                    d="M0,0L0,2.29L8.5,9.4L17,2.29L17,0ZM1.39,1.59L1.39,1.4L15.6,1.4L15.6,1.59L8.5,7.5ZM15.6,5.8L15.6,11.59L1.39,11.59L1.39,5.8L0,5.8L0,13L17,13L17,5.8Z" />
                            </svg>
                        </li>
                        <li class="form__contacts-item" data-aos="fade-left" data-aos-duration="1500"
                            data-aos-once="true" data-aos-delay="700">
                            <label class="form__contacts-label" for="phone">Телефон:*</label>
                            <input class="form__contacts-input form__contacts-input-phone" type="tel" name="phone"
                                id="phone" placeholder="+38 XXX-XXX-XX-XX*" autocomplete="off" pattern=".{18,}" required
                                data-rule="phone">
                            <svg class="form__contacts-input--email" xmlns="http://www.w3.org/2000/svg" width="19.95"
                                height="19.92" viewBox="0 0 19.95 19.92">
                                <style type="text/css">
                                    .st5 {
                                        fill: #000000;
                                    }
                                </style>
                                <path class="st5"
                                    d="M17.9,9.4L9.4,9.4L9.4,10.6L17.9,10.6L15.8,12.7L16.7,13.6L19.8,10.5C20,10.3 20,9.9 19.8,9.6L16.7,6.5L15.8,7.4Z" />
                                <path class="st5"
                                    d="M8.1,19.4L8.1,13.2C8.1,12.9 7.8,12.6 7.5,12.6L4.4,12.6L3.1,12.6C3.1,13.3 3.7,13.8 4.3,13.8L6.8,13.8L6.8,18.8L3.1,18.8C2.1,18.9 1.3,18.1 1.2,17.1L1.2,16.9L1.2,3.1C1.2,2.1 2,1.3 2.9,1.3L3.1,1.3L6.8,1.3L6.8,6.3L4.4,6.3C3.7,6.3 3.2,6.9 3.2,7.5L7.6,7.5C7.9,7.5 8.2,7.2 8.2,6.9L8.2,0.6C8.1,0.3 7.8,0 7.5,0L3.1,0C1.5,-0.09 0.1,1.2 0,2.9L0,3.1L0,16.8C-0.09,18.5 1.2,19.9 2.9,19.9L3.1,19.9L7.5,19.9C7.8,20 8.1,19.7 8.1,19.4" />
                            </svg>
                        </li>
                    </ul>
                </div>
            </fieldset>

            <div class="form__subtitle">
                <div class="form__subtitle-wrapper">
                    <p class="subtitle">Комментарий</p>
                </div>
            </div>

            <div class="form__information" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true"
                data-aos-delay="700" data-aos-anchor-placement="top-bottom">
                <label class="form__information-label" for="information"></label>
                <textarea class="form__information-input" name="information" id="information"
                    placeholder="Расскажите обо всех повадках кота" rows="4"></textarea>
            </div>


            <div class="form__subtitle">
                <div class="form__subtitle-wrapper">
                    <p class="subtitle">Дополнительно</p>
                </div>
            </div>

            <fieldset class="form__extra">
                <div class="form__extra-wrapper">
                    <ul class="form__extra-list">
                        <li class="form__extra-item" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true"
                            data-aos-delay="0" data-aos-anchor-placement="center-bottom">
                            <input class="form__extra-input" type="checkbox" name="sweetener" id="sweetener" checked>
                            <label class="form__extra-label" for="sweetener">Сахарозаменитель</label>
                        </li>
                        <li class="form__extra-item" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true"
                            data-aos-delay="300" data-aos-anchor-placement="center-bottom">
                            <input class="form__extra-input" type="checkbox" name="water" id="water">
                            <label class="form__extra-label" for="water">Питьевая вода</label>
                        </li>
                        <li class="form__extra-item" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true"
                            data-aos-delay="600" data-aos-anchor-placement="center-bottom">
                            <input class="form__extra-input" type="checkbox" name="milk" id="milk">
                            <label class="form__extra-label" for="milk">Молоко</label>
                        </li>
                        <li class="form__extra-item" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true"
                            data-aos-delay="900" data-aos-anchor-placement="center-bottom">
                            <input class="form__extra-input" type="checkbox" name="vitamins" id="vitamins">
                            <label class="form__extra-label" for="vitamins">Витамины</label>
                        </li>
                    </ul>
                </div>
            </fieldset>

            <div class="form__bottom-wrapper" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true"
                data-aos-delay="1200" data-aos-anchor-placement="center-bottom">
                <button class="form__button  button" type="submit">Отправить заявку</button>
                <p class="form__required">* — Обязательные поля</p>
            </div>

        </form>
    </div>
</section>