<section class="contacts" id="contacts">
    <h2 class="visually-hidden">Контакты</h2>
    <div class="contacts__wrapper">
        <div class="contacts__info" data-aos="fade-in" data-aos-duration="2000" data-aos-once="true" data-aos-delay="1000" data-aos-anchor-placement="bottom-bottom">
            <p class="contacts__info-title">
                приглашаем<br>
                к сотрудничеству<br>
                дилеров!
            </p>
            <div class="contacts__info-right">
                <div class="contacts__item">
                    <span class="contacts__type">
                        адрес:
                    </span>
                    <p class="contacts__adress">
                        г. Киев, бульвар Леси&nbsp;Украинки,&nbsp;19
                    </p>
                </div>
                <div class="contacts__item">
                    <span class="contacts__type">
                        e-mail:
                    </span>
                    <a class="contacts__email" href="mailto:info@catenergy.ua">info@catenergy.ua</a>
                </div>
                <!-- <p class="contacts__adress">
                    г. Киев, бульвар Леси&nbsp;Украинки,&nbsp;19
                </p>
                <a class="contacts__email" href="mailto:info@catenergy.ua">info@atenergy.ua</a> -->
            </div>
        </div>
    </div>

    <div id="map" class="contacts__map">

    </div>
    <!-- <iframe class="contacts__map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.6770846303775!2d30.536296015730507!3d50.42848777947234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf0e5b377b5f%3A0xca631dfe17ff337e!2z0LHRg9C70YzQstCw0YAg0JvQtdGB0ZYg0KPQutGA0LDRl9C90LrQuCwgMTksINCa0LjRl9CyLCAwMjAwMA!5e0!3m2!1suk!2sua!4v1583921578869!5m2!1suk!2sua"
            width="320" height="560" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
        </iframe> -->
</section>