<section class="modal-cart-notification">
    <h2 class="visually-hidden">Товар добавлен в корзину</h2>

    <form action="https://echo.htmlacademy.ru" method="post">
        <p class="modal-cart-notification__title">Товар добавлен в корзину!</p>
        <div class="modal-cart-notification__bottom">
            <button class="modal-cart-notification__button  modal-cart-notification__submit  button"
                type="submit">ОФОРМИТЬ ЗАКАЗ</button>
            <button class="modal-cart-notification__button  modal-cart-notification__close  button"
                type="button">ПРОДОЛЖИТЬ ПОКУПКИ</button>
        </div>
    </form>
</section>
<div class="modal__overlay"></div>